@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

:root {
  font-family: "Playfair Display", serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-secondary: #fdbd84;
}

@layer utilities {
  .bg-card-vertical {
    background: linear-gradient(
      180deg,
      rgba(217, 217, 217, 0) 26.3%,
      rgba(217, 217, 217, 0.1) 100%,
      rgba(217, 217, 217, 0.1) 100%
    );
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.1));
    box-shadow: 0 1px 4px -3px rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    transition: 300ms ease-in;
  }

  .bg-card-vertical:hover {
    transform: translateY(-10px);
  }

  .bg-card-horizontal {
    background: linear-gradient(
      90deg,
      rgba(217, 217, 217, 0) 23.93%,
      rgba(217, 217, 217, 0.1) 100%
    );
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.1));
    box-shadow: 1px 0 4px -3px rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    transition: 300ms ease-in;
  }

  .bg-card-horizontal:hover {
    transform: translateY(-10px);
  }

  input.search {
    background: linear-gradient(
      90deg,
      rgba(217, 217, 217, 0) 23.93%,
      rgba(217, 217, 217, 0.1) 100%
    );
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.1));
    border-radius: 20px;

    @apply px-4 py-2 text-sm outline-none;
  }
  input.search::placeholder {
    @apply text-white/50;
  }
}
.section {
  margin-bottom: 8px; /* Reduce margin between sections */
}

.grid > div {
  gap: 8px; /* Reduce grid gap */
}
